[2019-08-23 01:21] Jokelass opened #1 "Feature Request!"
Hello!

First off I'd just like to express my thanks to you for creating this addon. Playing vanilla without ItemRack (seeing as the Author of that has no plans to update for Classic) would be awful and this seems to have similar functionality! Great. However I believe there are things that could make this addon even greater than the Original ItemRack.

As I am sure you're aware there's also anoth

[2019-08-23 10:59] RagedUnicorn commented on #1
Hi @Jokelass,

Thanks for taking your time to write. Always glad to hear that people find the addon useful.

TrinketMenu was definitely my inspiration when I started working on this addon. I'm not sure if you saw that I originally wrote the GearMenu addon for vanilla wow.

You can find the repository here:
https://github.com/RagedUnicorn/wow-vanilla-gearmenu

I fully agree with your described usec

[2019-08-28 06:58] alecjpav opened #2 "Can't hide or resize window"
Hello, thank you for this addon! For some reason the window is huge, it takes up over half my screen's width. I can't figure out how to resize the window or at least hide it when I don't need out. Is there any way to do this? Thanks!

[2019-08-28 08:13] RagedUnicorn commented on #2
Hi there,

Didn't see that happen on the stresstest but there might be a problem with the scale. It is currently not possible to scale or hide the window. Can you attach a screenshot how it looks for you? I'm currently busy leveling :D but will start looking into the addon once I hit 60.

Cheers,
RagedUnicorn

[2019-08-28 17:02] lebongael opened #3 "No releases in release page"
Hi, I can't seem to find any releases to download on the releases page, is this normal ? Should we use the vanilla version for now ?
![image](https://user-images.githubusercontent.com/16318676/63876334-93fbbe00-c9c5-11e9-97d7-7b2a3390e4e3.png)

[2019-08-28 17:05] RagedUnicorn commented on #3
Hi That is because there is no release yet. Besides some UI Issues I think the current version should work but I have yet to test it. I wasn't in the beta and had no way to test so far. Once I hit 60 I should have time to fix the last minor bugs that I know about and do a first release.

The vanilla version will unfortunately not work at all. This addon is almost a complete rewrite.

Cheers,
Raged

[2019-08-28 17:16] lebongael commented on #3
Alright, thanks for the quick reply, have fun leveling ! I'll be testing this version and will report if I find any bugs.

[2019-08-28 17:17] RagedUnicorn commented on #3
Not a problem. Make sure to do the following otherwise the debug messages will clutter your chat window.

This means however that interested people with some technical understanding can already download the master branch of the addon (name the folder GearMenu) and change some basic values in the GM_Environment.lua file (to stop the debug log spam).

Copy and overwrite the content of the file with

[2019-08-31 12:12] ssateneth opened #4 "Can't figure out how to make equipment set + macro"
All I really need is something to make an equipment set and set it to a macro, including equipment set that makes me naked / no gear. I can't see to figure out how to do it with your addon. All it is is a horizontal bar for every gear slot.

I used to use Outfitter back in the day, and there exists no compatible version anymore since retail put in their own equipment manager.

[2019-08-31 12:40] RagedUnicorn commented on #4
Hi @ssateneth,

This addon has a complete different purpose. It is not similar to outfitter. Its goal is to help with switching between single items (usually during combat). Please read the documentation and have a look at the example in the old vanilla version here - https://github.com/RagedUnicorn/wow-vanilla-gearmenu for some visual examples.

Cheers,
RagedUnicorn

[2019-08-31 12:40] #4 closed

[2019-08-31 12:43] #1 closed

[2019-08-31 18:38] Road-block commented on #2
For early adopters, to scale the bar do something like this

Add under [GM_Constants.lua#L89](https://github.com/RagedUnicorn/wow-classic-gearmenu/blob/master/code/GM_Constants.lua#L89)
[code]
Then under [gui/GM_GearBar.lua#L51](https://github.com/RagedUnicorn/wow-classic-gearmenu/blob/master/gui/GM_GearBar.lua#L51)
[code]
You'll have to remember to re-apply your edits for updates (until something

[2019-08-31 20:10] Road-block opened #5 "Weapon slots can't be equipped during combat"
Weapon slots (main hand, off-hand, ranged) should be able to be equipped during combat (unlike the other slots).

Currently GearMenu triggers an "action forbidden" error when trying to equip a weapon from the menu.

[2019-09-01 08:26] RagedUnicorn commented on #5
Hi @Road-block,

I agree with you that is indeed a bug and it is intended that weapons can be switched in combat. Blizzard blocks certains actions on secureactions buttons and it looks like I'm currently trying to modify those buttons in a way that is not allowed. I will look into this once I find the time (currently leveling :)).

Reference for me (need to improve show/hide events):

9/1 04:52:28

[2019-09-04 12:57] Daviid666 opened #6 "Spam in the chat and cant save gearset"
Everytime i mouse over anything it spams the chat with something. I cant disable that.
Also, i cant save my healing gear and my dps gear for quick swap.

[2019-09-04 18:00] RagedUnicorn commented on #6
Hi @Daviid666,

About the chat spam please see what I wrote here - https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/3

I'm not sure if I understand any of the other points you mentionend but it seems like your mixing up what the intention of the addon is. This is not an addon to manage gearsets unlike other addons like outfitter. It has a whole different purpose which you should be able

[2019-09-04 18:00] #6 closed

[2019-09-05 15:14] ujellyx opened #7 "Bar style similar to Blizzard UI"
Would it be possible to make the bar style similar to the Blizzard default action bars? With the spacing and the border/blank-icon-textures?

[2019-09-06 19:55] phendrome commented on #7
I'm pretty certain that it's coming. The 1.12.1 version had that.

[2019-09-07 06:20] ktaragorn commented on #3
If you add it to the readme it should be ready :D

I found this via https://classic.wowhead.com/guides/warrior-tank-addons-classic-wow#gear-swapping-addon so you might have others coming too. Let me test it as well. I think worst case you should create a 0.0.1 release just with what you have

[2019-09-07 09:08] RagedUnicorn commented on #5
Hi @Road-block,

Finally found some time to have a closer look at this. Sadly I have to disappoint you. If found that blizzard seems to prevent automatic weaponswitch while the player is in combat.

This can be tested with the following line by replacing the bag positions. Even this line will cause the above mentioned error. I will need to verify this with some warriors. I'm interested how theyr w

[2019-09-07 09:35] Road-block commented on #5
Warriors will probably use macros with `/equipslot`
I'll have to test your findings in-game, I had the feeling that the main issue with GearMenu was it trying to do show/hide on the bar buttons in combat when for example you're going from a 2H to 1H/Shield or vice versa (since it's trying to make a button "empty" by hiding it)

We are not talking about an automatic weapon switch anyway.
We're talk

[2019-09-07 09:58] Road-block commented on #5
You are correct about using _traditional_ PickupContainerItem/PickupInventoryItem macros.

/equipslot invID ItemName and /equipslot invID bagID slotID work without issue.

So the question becomes: Are there attributes that would make this work with SecureActionButtonTemplate based frames?
That will have to wait a bit cause I've been out of the addon dev for retail business for years and that stuff

[2019-09-07 10:05] Road-block commented on #5
Last response for a bit.

[code]
works.
The usual restrictions apply, you cannot set the macrotext1 attribute in combat, you cannot manually show or hide the macroBtn manually (but you can use visibility states of the secure system.

Anyway it looks like a pretty significant refactoring, so tabling it for now is fine.

[2019-09-07 20:57] ujellyx opened #8 ""Window"-size stays the same, even with disabled slots."
When I disable certain slots, the slots themselves are hidden, but the size of the gearmenu-bar (in width) stays the same - preventing clicks through the hidden space.

[2019-09-10 08:02] Goatella opened #10 "Tabard Slot"
Not so much an issues as a request... it would be nice if the Tabard slot was included, for in town pretty sets :)

Shirt too actually!

And the ability to toggle a slot to be empty

[2019-09-11 06:14] Flobberz opened #11 "Can't change the gear bar from horizontal to vertical"
Is there a way to change the bar from horizontal to vertical? Also I was wondering if you could change the tooltip for the items to appear where all the other tooltips appear too. Thanks!

[2019-09-11 11:58] Starcheck opened #12 "Chat Spam"
Hey,

I really like the work done here!!
How can I get rid of teh status texts in the chat?

![image](https://user-images.githubusercontent.com/54445661/64695333-29a24d80-d49c-11e9-9cd5-200f762bd420.png)

[2019-09-13 23:59] teh0mega commented on #12
@RagedUnicorn went over this in a different Issue-

[2019-09-16 09:38] Starcheck opened #13 "Weapon swap in combat"
Hi,

I noticed I cant swap my offhand weapon while being in combat. Manualy I can ofc swap weapons in combat but the add on is putting my offhand into que until I leave combat.

I couldnt find any option to disable this, or maybe I am just blind :D

Is there a work around to fix this?
Thanks you for the awesome work here!

[2019-09-16 23:55] webworthydesign opened #14 "No Idea How To Use This Addon"
All I see is a window that lets you click on items and pick other items that go in that slot. I don't see how to macro or keybind anything. The main page just has a bunch of TODOs for images (that will hopefully help with this). But I am totally lost. Is there somewhere I can go for a tutorial? I've tried googling and youtubing it but nothing. Sorry for posting this here, but I didn't know how els

[2019-09-17 20:24] Starcheck commented on #13
Already reported here, didnt see.
https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/5

[2019-09-17 20:24] #13 closed

[2019-09-19 07:21] Rottenbeer commented on #5
@Road-block Is it possible to trigger such a macro from the addon?

[2019-09-19 10:56] Road-block commented on #5
No auto-queue in combat\* are dead, what we would be discussing is if there is a way to do user initiated (manual) weapon equips from the gearmenu bar while in combat.

\*Queuing any swaps to happen after combat ends should still be possible.

[2019-09-19 11:00] Road-block commented on #13
Note that there is a bug (or at the very least very un-intuitive behavior) with Blizzard's own `AutoEquipCursorItem` used when you manually equip weapons by right clicking in your bags when it comes to off-hands (and shields).

Going from 2H > 1H > OH/Shield will unequip the 1H that was replaced in the first step and you have to re-click it to finally get it to go in the mainhand slot.

The only w

[2019-09-21 09:55] RagedUnicorn commented on #3
Hi Guys,

First release is finaly out. Find it here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases

Cheers,
RagedUnicorn

[2019-09-21 09:55] #3 closed

[2019-09-21 09:57] RagedUnicorn commented on #2
Hi @alecjpav,

This was fixed with commit https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/d3d9f94f63fc14f2b3f07d10a0707ddfaae4e5d3. I will probably add more configuration options regarding the size of the slots in a future release. For now I just changed the size to a more appropriate size for Scale 1.0.

Cheers,
RagedUnicorn

[2019-09-21 09:57] #2 closed

[2019-09-21 09:59] RagedUnicorn commented on #7
Hi @ujellyx,

Sorry to disappoint the current style is what I'm going for. There might be some visual changes in the future of course but I don't aim to replicate the blizzard default action bars. It is of course possible todo what you asked for and everyone is free to get a copy of the addon and adapt it to whatever style he prefers.

Cheers,
RagedUnicorn

[2019-09-21 09:59] #7 closed

[2019-09-21 10:00] RagedUnicorn commented on #8
Hi @ujellyx,

This was indeed an issue and is fixed in https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/83817349702f31a0c468ff1745d26f3dd719139e. Thanks for reporting this.

Cheers,
RagedUnicorn

[2019-09-21 10:00] #8 closed

[2019-09-21 10:02] RagedUnicorn commented on #10
Hi @Goatella,

Sorry I don't plan to include that slot because I really don't see any use in it. I think for an in town set Outfitter or similar addons are mor suited to that. This addon aims mainly to support slots that have an onuse effect and then switch to something else after using it.

I'm not sure about your last comment about the empty slot. It is currently possible to deactivate every slo

[2019-09-21 10:02] #10 closed

[2019-09-21 10:04] RagedUnicorn commented on #12
Hi @Starcheck,

As teh0mega already wrote this is because there was no release version available. As of today however you can download the first release from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases

Cheers,
RagedUnicorn

[2019-09-21 10:04] #12 closed

[2019-09-21 10:06] RagedUnicorn commented on #14
Hi @webworthydesign,

The todos where there because the addon was (and is) still under development. As of today you can find quite a lot of gifs that explain the most important features of the addon.

Cheers,
RagedUnicorn

[2019-09-21 10:06] #14 closed

[2019-09-21 10:08] RagedUnicorn commented on #11
Hi @Flobberz,

There is currently no way to have the slot appear in a vertical way but I put it on my todo list and might support that in a future version.

I agree with you about the tooltips (I was getting annoyed by this myself) and changed it to always appear wherever your other tooltips appear as well.

Cheers,
RagedUnicorn

[2019-09-21 10:08] #11 closed

[2019-09-21 10:16] RagedUnicorn commented on #5
Hi guys,

There are essentially two things that the addons currently supports.

* Manual switching by hovering over a slot and the choosing an item in the menu that appears. Note that this menu does not consist of SecureActionButtons. My current understanding is that this would not work with SecureActionsButtons because you can't hide/show such buttons during combat. That is why those are normal b

[2019-09-23 12:34] JohnEU opened #15 "Request: Option to fade gear menu untill mouse over"
Hi,

I am a big fan of the faded opacity in Dominos, that fades the bars untill mouse over. Since I would be using Gear Menu much like a normal bar, it would be great to have this option.

[2019-09-24 12:34] phendrome opened #16 "Cannot Bind the Slots"
The keybinding settings does not show up anywhere.

Checked the following:
- Key Bindings > AddOns
- Interface Options > GearMenu

Using the latest release 1.0.

[2019-09-24 16:09] phendrome commented on #7
Is it a hard task to change to the bars so they look like the Blizzard default bars? I'd look into it if I get a direction how to approach it.

[2019-09-24 16:41] RagedUnicorn commented on #16
Hi @phendrome,

Thanks for the report. There was indeed an issue with packaging the release. `Bindings.xml` was missing in the release and thus you where not getting the option to set your keybinds.

This is fixed now in df1cf2ef08fc02f55a3206a9ac28eeaca45ad91b and a new release v1.0.1 was just release.

Cheers,
RagedUnicorn

[2019-09-24 16:41] #16 closed

[2019-09-24 16:42] RagedUnicorn commented on #15
Hi @JohnEU,

Sounds like something that is doable as an option. Can you give me a bit more info? Is there an example somewhere how this would look like?

Cheers,
RagedUnicorn

[2019-09-24 16:48] RagedUnicorn commented on #7
I think it shouldn't be that much of work. You could essentialy copy and paste a lot from the vanilla version - https://github.com/RagedUnicorn/wow-vanilla-gearmenu. I think it would be quite a bit of work of supporting different style for the addon itself such as themes. Thats the main reason why I don't really like adding this. Also I'm working on other addons that will use a similar style.

Che

[2019-09-24 23:29] phendrome commented on #7
Hmpf. That's a shame, as many people really do prefer to keep the style as close to Blizzard as possible. If you don't add it, I'll probably do it myself. :)

I mean, supporting only your style and Blizzard would be more than enough. I don't think people would want anything else with a ton of theming.

[2019-09-25 08:34] JohnEU commented on #15
Yes, [https://github.com/tullamods/Dominos](https://github.com/tullamods/Dominos)

On the feature list: Fading bars. You can set your bars to fade out to a certain opacity when not moused over.

I think it should be implemented under: [https://github.com/tullamods/Dominos/blob/master/Dominos/core/fadeManager.lua](https://github.com/tullamods/Dominos/blob/master/Dominos/core/fadeManager.lua)

[2019-09-25 16:21] Hiffix opened #17 "chat spam"
How can i remove chat spam from this addon?

[2019-09-25 16:23] RagedUnicorn commented on #17
Hi @Hiffix,

By reading the Readme instructions and downloading an actual release from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases/tag/v1.0.1 instead of the development one.

Cheers,
RagedUnicorn

[2019-09-25 16:23] #17 closed

[2019-09-25 23:33] AGandrup opened #18 "No issues, just a few suggestions."
Heya man, great addon! I like it a lot.

I have a few suggestions/request which I hope you'll consider adding at some point.

First of all I'd really like an option to scale the size of the icons. I'd also like an option to seperate the icons for example so I can have my trinket icons at one place on the screen while having the icons for my other gear somewhere else (hope that makes sense).
Next,

[2019-09-27 11:08] Ethugd opened #19 "Trinket option suggestion"
hey man love the addon,

would it be possible to add an option so that the trinket selection window for trinkets becomes combined and u can left click to equip trinket 1 and right click to equip trinket 2?

similar addons have this functionality and its something ive been missing.

ALSO

is there a maximum of 10 trinkets displayed? i have way more than that and would like to have them all displaye

[2019-09-30 04:47] BurnHavoc opened #20 "Ranged Weapon Slot and Wands"
Can you double check functionality with the ranged slot and Wands? I have 2 wands I swap between for damage type resisting mobs, and I can't get the other wand to show up on mouseover.

[2019-10-01 05:33] Ethugd opened #21 "suggestion: ability to change gloves/boots/trinket when mounting and dismounting"
I love the quickchange menu, it makes my life really easy. was wondering if its possible to add some option to that menu that allows to set gloves/boots/trinket when u mount up and dismount.

[2019-10-03 02:07] Homtau opened #22 "Request: Need more ChangeMenuSlots of trinket"
HI Raged:
I like this great addon very much.
And I m a goblin engineer, so i have lots of long cooldown trinkets for PVP.
Now if there r more than 10 trinkets in my bag, it will shows me "All ChangeMenuSlots are in use",
Could you please add some more slots for it?

[2019-10-03 07:26] Leiludallas opened #23 "Hide chat GearMenu lines"
Hi,
Would you mind adding a way to hide all the chat flood please ? Thank you,

[2019-10-03 23:49] novam4a1 commented on #23
Yes please please, the chat flood is pretty intense.

[2019-10-04 09:43] RagedUnicorn commented on #23
Hi @Leiludallas and @novam4a1
Make sure to read the Readme instructions and download an actual release from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases/tag/v1.0.1 instead of the development one.

Cheers,
RagedUnicorn

[2019-10-04 09:44] #23 closed

[2019-10-04 09:44] RagedUnicorn commented on #22
Hi @Homtau,

Sure not a problem. I will increase it to 20 for the next release. I hope to create a new one this weekend.

Cheers,
RagedUnicorn

[2019-10-04 09:46] RagedUnicorn commented on #21
Hi @Ethugd,

While I like the idea I don't think that feature is something that belongs into GearMenu. This is a better fit for addons such as outfitter that lets you create itemsets. I will keep it in mind but I don't think that I will add this as a feature.

Cheers,
RagedUnicorn

[2019-10-04 09:46] #21 closed

[2019-10-04 09:48] RagedUnicorn commented on #20
Hi @BurnHavoc,

Will try this out a bit. It could indeed be that there is an issue because when I last tested this it was on 'retail' and on retail there is no such thing as a ranged slot. Can you still explain a little bit more what you expect and what exactly happens. I'm not sure if I can follow your explanation in the ticket.

Cheers,
RagedUnicorn

[2019-10-04 09:50] RagedUnicorn commented on #19
Hi @Ethugd,

This sound like a great idea. I will try this out and if it works well I will add it. I would probably also add the same for rings.

About the maximum for 10 trinkets see - https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/22 This is indeed the case currently but I will increase it for the next release

Cheers,
RagedUnicorn

[2019-10-04 09:53] RagedUnicorn commented on #15
Hi @JohnEU,

I investigated this a little bit more and unfortunately decided that I will not implement this.

The main reason is that all those buttons you see have to be SecureActionButtons and thus cannot be "touched" while in combat. This brings all sorts of strange situations. An example would be that a fadein during combat doesn't work and the same with fadeout. I don't think that I could imp

[2019-10-04 09:53] #15 closed

[2019-10-04 09:59] RagedUnicorn commented on #18
Hi @AGandrup

Thanks good to hear you like the addon!

* The scalling of buttons is definitely on my todo list and will be in one of the next versions
* Having slots in different positions seems a bit harder todo. I will have a look at it but not with the biggest priority
* Vertical/Horizontal bars - This is definitely a feature that should be doable. Just a bit of work because you then also need

[2019-10-04 10:01] RagedUnicorn commented on #5
Closing this for now because there is no real solution to this issue.

[2019-10-04 10:01] #5 closed

[2019-10-04 21:33] SlizeTBC opened #24 "Reload/Restart of game Client resets gearmenu position"
Hi,

as the title says, I have a "bug" which makes my gearmenu settings i made get deleted after every restart of the game.

Somehow even after reloading my UI.

Would appreciate any help, Thanks.

[2019-10-04 23:40] BurnHavoc commented on #20
Ahh yeah, using Classic client to replicate:

Have 2 different wands, one equipped and one in-bag. When you try to use gearmenu to switch between them (like main/offhand weapons), no options appear.

[2019-10-06 17:33] JohnEU commented on #15
Hi @RagedUnicorn ,

Thanks for checking into this. Too bad that it is complicated to implement ;/

Thanks for a great addon.

[2019-10-07 19:04] amanalar opened #25 "hide chat logging"
great addon, just a question on how to hide the ticker messages that showup in main chat window.

gearmenu core : bagupdate
gearmenu core : unit spellcast succeeded
gearmenu core : started changemenuticker
gearmenu core : stopped changemenuticker

and i guess the same for pulse.

[2019-10-09 10:36] jakeswork opened #26 "Trigger keybind on key down rather than key up"
In my current set up I have my abilities triggered on key down, which is made possible via addons such as [Advanced Interface Options](https://www.curseforge.com/wow/addons/advancedinterfaceoptions) and [Classic Snowfall](https://github.com/Linae-Kronos/Classic-Snowfall).

I'd love if, when these options were enabled, it affected the responsiveness of the keybindings on this addon, too

Hard to pr

[2019-10-10 10:26] RagedUnicorn commented on #25
Hi @amanalar,

By reading the Readme instructions and downloading an actual release from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases instead of the development one.

Cheers,
RagedUnicorn

[2019-10-10 10:26] #25 closed

[2019-10-10 10:29] RagedUnicorn commented on #24
Hi @SlizeTBC,

This sounds strange. Can you give me some more details about your installation. Did you download a release version from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases ?

Did you check whether there is a file created for your character in your `WTF` folder and whether it has any contents? Also note that some settings such as keybinds are not saved when you force

[2019-10-19 16:00] Horiwix opened #27 "Switching to "Nifty Stopwatch" tries to equip "Winterfall Firewater""
* Steps to reproduce:
1. Have Nifty Stopwatch and Winterfall Firewater in your inventory
2. Try to equip Nifty through gearmenu
3. Gearmenu tries to equip Winterfall Firewater. Error pops up - "This item cannot be equipped"

I tried to move the potion to other slots in the inventory - still tries to equip it. After I banked the potion, it was able to equip Nifty.

(Also using Bagnon addon; not sur

[2019-10-21 08:07] RagedUnicorn commented on #27
Hi @Horiwix,

I tried to reproduce this but was unable so far. I usually always carry the Nifty Stopwatch and some Winterfall Firewater with me but never saw this problem. It is also strange that it is only for a specific item in your case.

Usually addons work with the id of an item. What is suspicious about those 2 items is that they have a "similar" id.

Winterfall Firewater:

https://classic.w

[2019-10-21 08:10] RagedUnicorn commented on #26
Hi @jakeswork,

I agree. Good idea! I did as you suggested and added this functionality into the addon itself. It is not dependent on any other addon. The functionality can be activated in the general options setting and is deactivated by default.

Commit is here: 880dd83fa2807e2dff4f5f3aba7eaf47f6cb71a5

The change itself will be included in the next release.

Cheers,
RagedUnicorn

[2019-10-21 08:10] #26 closed

[2019-10-21 08:14] RagedUnicorn commented on #20
Hi @BurnHavoc,

Now I understood what you meant. I only had a rogue with some bows to test and this worked without a problem. The issue was related to how Gearmenu searches for eligible items.

Gearmenu searched for `INVTYPE_RANGED` which essentially only includes bows and not other items such as wands, guns or crossbows. This is fixed in 1ad65c9c0c390a78e566954ef854db8c39aab162. I added both `INV

[2019-10-21 08:14] #20 closed

[2019-10-21 08:47] jakeswork commented on #26
Awesome. Great work :+1:

[2019-10-22 13:30] hardtofin opened #28 "Chat is spammed & cant set quick change rules"
hi there, great addon!

I have a couple of issues, firstly, whenever i hover over an item on my bar it prints a message in chat, so after a couple of seconds i see this:

GearMenu:ItemManager - Ignoring item because its quality is lower than setting 2
GearMenu:ItemManager - Ignoring item because its quality is lower than setting 2
GearMenu:ItemManager - Ignoring item because its quality is lower t

[2019-10-24 07:42] RagedUnicorn commented on #28
Hi @hardtofin,

The first issue you can easily solve by downloading a release instead of the development version.

You can find the releases here: https://github.com/RagedUnicorn/wow-classic-gearmenu/releases

For the second issue you need to make sure that you have an item in that category that has an onuse effect.

On the left side you choose an item that is considered to be tracked when it is u

[2019-10-24 07:47] RagedUnicorn commented on #24
Hi @SlizeTBC,

Going to close this because I didn't hear back from you. Feel free to reopen or create a new ticket if this problem persists or you have more information for me to reproduce this.

Cheers,
Ragedunicorn

[2019-10-24 07:47] #24 closed

[2019-10-27 10:49] #28 closed

[2019-10-28 05:30] M4160 opened #29 "Major chat spam."
https://imgur.com/a/EUZrPvC

Love the addon, but can't live with the constant chat spam. I can't disable from what I can tell.

Options?

[2019-10-28 06:17] AGandrup commented on #29
You downloaded the wrong files. See releases instead: https://github.com/RagedUnicorn/wow-classic-gearmenu/releases

[2019-10-28 18:14] M4160 commented on #29
I've deleted the old folder and removed it from my computer and installed the latest release. The issue still persists. And somehow my previous settings are still there.

[2019-10-28 18:14] rafaelpimpa opened #30 "Gnomish Cloaking Device not showing"
[Gnomish Cloaking Device](https://classic.wowhead.com/item=4397/gnomish-cloaking-device) is not showing when hovering.

[2019-10-29 00:35] electricmessiah opened #31 "Add option to turn off the SPAM"
This is the worst addon I have in regards to spam. It's constantly filling up the chat with what what appear to useless info or left behind debug comments. Please remove all of this or give an option to disable it.

[2019-10-29 20:41] RagedUnicorn commented on #31
Hi @electricmessiah

Make sure to read the Readme instructions and download an actual release from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases/tag/v1.0.1 instead of the development one.

Cheers,
RagedUnicorn

[2019-10-29 20:41] #31 closed

[2019-10-29 20:43] RagedUnicorn commented on #30
Hi @rafaelpimpa

I don't have access to a cloaking device myself. But the issue that you see is probably because of the filter that is set on items. In the addon settings you can change the quality that an item has to have before it is picked up by Gearmenu and shown as a possible item to switch to. Because the gnomish cloaking device is white in quality it is getting filtered.

Cheers,
RagedUnico

[2019-10-29 20:44] RagedUnicorn commented on #27
Hi @Horiwix

Closing this ticket because there was no further activity and I was unable to reproduce the issue. Feel free to reopen if you have more information about the issue.

Cheers,
RagedUnicorn

[2019-10-29 20:44] #27 closed

[2019-10-29 21:14] gamestuff opened #32 "Tidal Charm Issue"
Having a strange issue with [Tidal Charm](https://classic.wowhead.com/item=1404/tidal-charm).  For some reason at times it is showing as "Runecloth".  Tooltip/I'm assuming it's trying to use this item when I click on it. I can fix it by switching the items in my bag. so that the trinket is placed in the bag slot where the Runecloth was.

This is the only trinket it's done this with so far.  Otherw

[2019-10-29 21:16] RagedUnicorn commented on #32
Hi @gamestuff

This seems very similar to this issue https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/27

Are you using Bagnon by any chance? Did you try if the issue persists even with all other addons deactivated?

Cheers,
RagedUnciron

[2019-10-29 21:20] gamestuff commented on #32
Yeah, it's Bagnon then.  I'll deactivate it and try but I'm almost positive it is the same issue.  It's just the same two items that constantly get switched in my case as well.

[2019-10-29 21:29] RagedUnicorn commented on #32
What is suspicious once again the ids of the items are somewhat similar

https://classic.wowhead.com/item=1404/tidal-charm
https://classic.wowhead.com/item=14047/runecloth

Might need to create an issue for bagnon at one point but not quite sure what I could do about the issue on my side.

[2019-10-29 21:30] gamestuff commented on #32
Sorry I might have jumped the gun, I am going to check further once I clean out my addons folder a bit.  I disabled bagnon and reloaded the UI and the issue persisted.  Will shortly try it again deactivating all addons and restarting the game.

[2019-10-29 21:41] gamestuff commented on #32
Disabled all addons, restarted the game, enabled gearmenu, reloaded UI.  Still showing as Runecloth.  Restarted the game once and it is the same.  It shows the image for the trinket when I first mouseover the bar, but on mousing over the item it shows the tooltip for Runecloth.

[2019-10-29 21:53] gamestuff commented on #32
New to github, and wasn't sure if I should triple post or edit posts to give you an indication.  But I think my last edit/discovery should maybe point to the issue.  Can delete this comment, just wanted to make sure edits don't get overlooked somehow, and unsure of etiquette.

[2019-10-29 21:57] RagedUnicorn commented on #32
Not a problem. Just one more question. I'm trying to figure out whether its just a display issue for the tooltip or something else. Are you still able to use the tidal charm when it is equipt in the slot (by clicking or using a shortcut)?

[2019-10-29 21:59] gamestuff commented on #32
Yes, when it is equipped I can use it.  The issue is not just tooltip though.  When I have the trinket unequipped, and it is further down it the bags than the Runecloth, it tries to equip the Runecloth instead and will not let me equip the trinket.   When the trinket is higher up in the bags than the Runecloth I can equip it normally.

[2019-10-29 22:02] RagedUnicorn commented on #32
Ah I actually was just able to reproduce the issue with the winterfall firewater from the other ticket (had to move it in the first bag). Will investigate this. Thanks for all the effort already. Especially the placement in the bags helped I already have a suspicion what the issue might be.

[2019-10-29 22:03] gamestuff commented on #32
Of course, glad I could help.  Good luck and appreciate the work on this.

[2019-10-30 17:13] #30 closed

[2019-11-04 02:06] Zonzei commented on #18
I have few requests/suggestions as well and since some of them are similar or same as the ones here I don't feel like new thread is warranted.

1. Option to choose between vertical/horizontal bar as well as the direction of flyout menu (or changeMenu as you seem to call it).
2. Option to hide out of combat and override Keybind/modifier to show the bar regardless of being out of combat (for me it w

[2019-11-04 22:29] Mattyklol opened #33 "Issue with getting error messages / notifications from addon"
Hello! I love your addon but when I'm using it I'm getting spammed with notifications in my chat box. It all seems like non important stuff too, I will post a screenshot. Any way to disable messages from the addon?

[2019-11-04 22:31] Mattyklol commented on #33
https://imgur.com/i47jSMu

https://imgur.com/KxrU7UO

[2019-11-05 14:21] RagedUnicorn commented on #33
Hi @Mattyklol,

Make sure to read the Readme instructions and download an actual release from here - https://github.com/RagedUnicorn/wow-classic-gearmenu/releases/tag/v1.0.1 instead of the development one.

Congrats on the blade btw :)

Cheers,
RagedUnicorn

[2019-11-05 14:21] #33 closed

[2019-11-06 20:14] jakeswork commented on #30
Was just about to raise this for [Gnomish Net-o-matic Projector](https://classic.wowhead.com/item=10720/gnomish-net-o-matic-projector). Same mistake! 😄

[2019-11-06 21:19] #32 closed

[2019-11-11 20:48] JohnEU opened #34 "New look on bars (ugly with larger inset!)"
Hi, with 1.10 there is a larger (inset?) border on the bars. How do we switch back to the old amount?

Before 1.10
![image](https://user-images.githubusercontent.com/55697857/68619913-a8335f80-04cc-11ea-8da7-a99665bd184a.png)

After 1.10
![image](https://user-images.githubusercontent.com/55697857/68619989-d87afe00-04cc-11ea-8d84-c5f93d0e2b7e.png)

Update: It looks like the width of the black borde

[2019-11-11 20:54] JohnEU opened #35 "Swap OH in combat"
Hi,

I realise there was an issue raised before with swapping weapons in combat. I basically only have gearmenu shown in my UI and use that to swap gear. Therefore swapping OH in combat is crucial. Is there any way to modify the addon to allow swapping weapon/OH on click in combat?

[2019-11-13 13:09] Altarus94 commented on #18
I'll use this post for request then !

- Vertical/Horizontal bars => This is a must, live to heard that it's on your to do !
- Change the side the flyout menu show up, right now, you con't use gear menu place on top of the screen.
- It would be awesome if you can make multiple row if you need to chow a very large number of slots, or maybe a button to switch between multiple slots.

Love the addon,

[2019-11-16 03:13] BossaNovaCC opened #36 "How to Scale?"
How to Scale?

[2019-11-16 03:22] #36 closed

[2019-11-26 08:00] featherbird opened #37 "Engineering trinkets missing!"
Hey!

Love the addon, just seems like all the engineering trinkets aren't showing on the menu (Only the Ultrasafe Transporter one)! Also having trouble with Green Lens, it will only show the last used version ( e.g Shadow Wrath).

One last thing, could it be possible to add a option to fade the menu? Would love to reduce the opacity or have a mouseover option!

Thank you for the lovely addon!

[2019-11-26 10:08] Clausi opened #38 "Add ammo slot"
Playing a hunter sometimes needs you to change ammo. Can you integrate the slot into Gearmenu?

Afaik the ammo slot has the ID 0 https://wowwiki.fandom.com/wiki/InventorySlotId

[2019-11-28 10:23] phendrome opened #39 "Integrating ItemRack-like Features"
This addon is great. But it serves a purpose of doing what ItemRack and TrinketMenu does combined, but it misses some really important features from them which would be lovely to have:

- Being able to swap items in the character panel (by clicking on your chest you'll see other available chests, etc)
- Being able to save different sets and bind them (for example, changing boots, gloves and trinke

[2019-11-29 08:20] RagedUnicorn commented on #37
Hi @featherbird

Thanks for the warm words :)

I suspect you need to change the filtering for the items to have your enginerring items show up. I'm using engineering myself and it seems to work fine for me. Some items for engineering are however of low "quality" (white text) and thus you need to change the itemfilter.

Here is an example:

https://github.com/RagedUnicorn/wow-classic-gearmenu#filte

[2019-11-29 08:29] RagedUnicorn commented on #35
Hi @JohnEU

Unfortunately without a change to the api by blizzard it is not.

See https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/5

Believe me I'm frustrated about that and would very much like that feature myself. I'm playing around a bit with some improvements that could help but essentially it all comes down to "You need to know what weapon you want to switch to before entering com

[2019-11-29 08:30] RagedUnicorn commented on #34
Hi @JohnEU

It does look indeed like I forgot about the black border when I implemented the button scaling. Thanks for the detailed description and the helpful screenshots. I will fix this with the next update.

Cheers,
RagedUnicorn

[2019-11-29 08:31] RagedUnicorn commented on #38
Hi @Clausi

I guess that should be possible. I put it on my todo list :)

Cheers,
RagedUnicorn

[2019-11-29 08:39] RagedUnicorn commented on #39
Hi @phendrome

My goal wasn't to combine what Itemrack and Trinketmenu do. I rather wanted a more modern version of TrinketMenu and one that supports other slots as well back when I played on Nostalrius.

The main feature in my opinion is the combatqueue that helps switch items whenever possible. I'm torn between adding "itemset" functionality to the addon because I think there are already other a

[2019-11-29 09:42] phendrome commented on #39
From that perspective I definitely understand what you mean and the goal of the addon.

From the other perspective it would be that you can skip using TrinketMenu, but you'll still have to use ItemRack to get the other functionality, while you can "sort of" half-do (like swapping mount boots & trinket), but it takes longer than pressing a button like with ItemRack (or the old, better Outfitter, wh

[2019-11-30 00:51] Olorun opened #40 "Queueing while casting doesn't function"
When I am casting (even non-combat) I can queue up a trinket swap, but it won't swap the trinket after the cast is finished. Example: While I'm summoning my mount (3 second cast), and trying to swap from trinket A to the carrot on a stick. The carrot on a stick gets added to the queue, as shown by the smaller icon on the currently equipped trinket slot in gearmenu. Once the cast is finished, the c

[2019-12-03 02:43] #40 closed

[2019-12-07 01:18] padmanek opened #41 "Ability to ignore/hide specific items"
Feature request: Ability to ignore/hide chosen items.
Simple thing like for example holding alt and right clicking to hide an item.
And then if you wont to unhide it just hold alt before mousing over so all items show up.

[2019-12-16 13:05] #37 closed

[2019-12-20 18:27] #34 closed

[2019-12-20 18:32] RagedUnicorn commented on #40
Hi @Olorun

Just wanted to mention that I saw this behavior happen from time to time. I was able to track down the issue and fixed it.

The fix was commited here https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/923796e3e5dd8275dba6e46b4573dfcad2ffafac

This fix will be included in the next release.

[2019-12-20 18:47] padmanek commented on #41
Any response on this?

[2019-12-27 02:44] Zauxst opened #42 "Second button item column is closing too fast"
When I want to swap gear which is found on the second column, the item columns closes instantly if I pass a quarter of the button size.

I've tried to outline the place where moving the mouse will not close the columns, if I move outside of the red zone the item will close.
![Untitled](https://user-images.githubusercontent.com/6393530/71498009-4ef87300-2863-11ea-9552-c016571553fb.jpg)

I have also

[2019-12-27 12:48] Zauxst commented on #42
I want to add that in this morning I do not have this problem. Probably after a restart the 2nd column resized correctly and it was not resized at max.

[2019-12-27 17:37] RagedUnicorn commented on #41
Hi @padmanek

I will consider this but not with a high priority because I think with filtering the item quality you should already be able to filter out "garbage" items and the interface effort to build this feature seems quite big to me.

Cheers,
RagedUnicorn

[2019-12-27 17:39] RagedUnicorn commented on #42
Hi @Zauxst

Thanks for the report. I can confirm this issue. The changemenu is currently not properly recalculated when changing the slotsize. A relog or reload (/reload) of the interface fixes the issue.

I will fix this and include it in the next release.

Cheers
RagedUnicorn

[2019-12-27 17:52] #42 closed

[2020-01-08 06:33] KevinTyrrell opened #43 "Countdown numbers are not shown"
Switching trinkets or items correctly shows a dial fade for the 30 second cooldown until the item is ready. However cooldown numbers on the buttons themselves are missing. Is this normal? Is another addon needed for that functionality? Is there an option I may have missed?

[2020-01-08 06:53] KevinTyrrell commented on #43
Strange -- They seem to be present now, but I haven't made changes. I can't tell if ElvUI is interfering or not.

[2020-01-14 18:02] Brokentrojan opened #44 "Swapping Head & Other slots"
Hey, would it be possible to switch other items not related to 1 specific spot.

E.G. Goblin Rocket Helmet -> Head + Bow

The reasoning for Bow is that it allows macro conditionals such as /equip [worn:bow]

This can be done further with Head + Shirt with /equip [worn:shirt]

Thank you for your time for reading this

[2020-01-14 19:56] Calzeru opened #45 "Suggestion: Colored border for specific items"
Hello

First of all, thanks for creating this addon. Absolutely love it.

Onto my suggestion.
After acquiring my second pairs of Giantstalker's gloves and boots I've come across the (small) issue that the items have the same icon. This makes it difficult to look at a quick glance whether I have my mount speed or agility enchanted gear equipped.

One suggestion is to color code the items with diffe

[2020-01-14 22:58] #44 closed

[2020-01-14 22:59] Brokentrojan opened #46 "tryna edit the code to have shirts"
Support for shirts? Macro conditional /equip [worn:shirt] is op as fuck, but i can't seem to successfuly edit the code to include shits sofar.

[2020-01-15 18:49] phendrome commented on #39
Any update regarding this? Literally the only thing that's missing.

[2020-01-16 10:04] Brokentrojan commented on #46
["name"] = "slot_name_feet",
    ["type"] = {"INVTYPE_FEET", "INVTYPE_BODY"},
    ["textureId"] = 136513,
    ["slotId"] = INVSLOT_FEET

Add INVTYPE_BODY as shown

[2020-01-16 10:04] #46 closed

[2020-01-16 16:12] mcaww opened #47 "pop up a lot of opration information"
Whenever I perform a mouse operation, whether it is a player, NPC or device, the operation information will pop up in the chat window, which will seriously affect the chat with others, and I cannot find any settable location in the settings. Can it be modified?

[2020-01-17 02:37] 965611270 opened #48 "macro interacte with gearmenu"
Hi

Is that possible for macro to callback gearmenu funciton? for example, I'd love to binding CombatQueue into my script instead using mouseclick。

[2020-01-17 08:39] RagedUnicorn commented on #43
Hi @KevinTyrrell

I saw that issue as well but quite rare. Because of that I was not yet able to reproduce and actually figure out what happened there. I'm using the standard blizzard behavior there for the timers.

If you figure out anything else or how to reproduce the issue please let me know.

Cheers,
Michael

[2020-01-17 08:43] RagedUnicorn commented on #45
Hi @Calzeru

I understand your issue. I would say the visual part is fairly easy to do. The problem is more in the way of finding out what kind of enchant is on the item and the work of having this for all of the possible enchants. I will look into this when I find time but won't promise anything :) Thanks for your input though!

For now I would definitely make sure that you have tooltips enable t

[2020-01-17 08:45] RagedUnicorn commented on #47
Hi @mcaww

Really not sure if I understand your problem. Are you talking about something similar to https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/29?

If so I would recommend that you either download the addon directly from Twitch/Curse (https://www.curseforge.com/wow/addons/gearmenu) or get an actual release from Github (https://github.com/RagedUnicorn/wow-classic-gearmenu/releases)

[2020-01-17 08:47] RagedUnicorn commented on #48
Hi @965611270

That is certainly something that would be possible. Can you maybe elaborate a little bit on what your use case would be? I currently can only guess that you would want the functionality of adding a certain item from withing the macro into the CombatQueue?

Cheers,
RagedUnicorn

[2020-01-17 08:52] RagedUnicorn commented on #46
Hi @Brokentrojan

I think it should definitely be possible to add the shirt as a slot. Out of curiosity why would anyone need that? :D

You can reopen the ticket if you want and I will see if we can add that slot with next release.

Cheers,
RagedUnicorn

[2020-01-17 09:38] #43 closed

[2020-01-17 12:53] Olorun opened #49 "Change to on-use trinkets 30 seconds before CD wears off"
Would be nice to have some option so that quickchange can change items 30 seconds before they're ready.

For example, I'd like Talisman of Ephemeral Power to change to Eye of the Beast after it's duration is over (which I can achieve by using 15 seconds of delay). Then, when Talisman is on a 30 second cooldown, gearmenu will switch back from Eye of the Beast to Talisman.

Would it be possible add

[2020-01-18 07:59] dreamscape89 opened #50 "Any possible compatibility with Masque?"
People love to crate a theme for their UI, masque skins the buttons for addons like Bartender and Dominis, would be nice if it would work with this addon as well to get everything in line.

https://www.curseforge.com/wow/addons/masque

[2020-01-31 23:24] alexzaworski commented on #50
+1, being able to skin buttons as well as scale/space them would be a boon.

[2020-02-03 00:36] phendrome commented on #50
Very good idea. Solves the issue of having different skin options.

[2020-02-14 08:44] Olorun opened #53 "Option to have popup grow downwards"
While mousing over the gearmenu bar, it would be nice to have an option that the gear options move downward from the bar instead of upward.

[2020-02-15 14:51] knasen88 commented on #49
yea, this feature from itemrack is really needed!

[2020-02-23 05:12] tehuno commented on #53
Yeah I would also like to be able to arrange the buttons more.  Like Maybe make two columns or allow you to split them apart, etc.

[2020-02-26 14:57] RagedUnicorn commented on #48
Hi @965611270

A first basic implementation for this was added to the addon. It is not yet included in a release but you can see in the readme file what can be done.

See https://github.com/RagedUnicorn/wow-classic-gearmenu#macro-support

If you have another idea what should be possible with this please let me know.

Cheers,
RagedUnicorn

[2020-02-26 14:57] #48 closed

[2020-02-26 14:59] RagedUnicorn commented on #53
Hi Guys,

I agree with you that I need to change something here. I was already playing a bit around with having much more flexibility of how the "GearBar" is setup. Think a player can create
multiple of those bars with as many slots as he wants. Thus allowing for setups such as having the trinkets in another place than other items.

This is however a big change to the addon and will take me a whil

[2020-02-26 15:02] RagedUnicorn commented on #49
Hi @Olorun  and @knasen88

Can you maybe elaborate a bit how this would work exactly. I'm not quite sure if I understand how it would work.

Would the user be able to like choose a default item for a slot and whenever that item is ready or at a 30second cd it would be equiped? Is that what you're saying?
For me this sound like it has a lot of potential to be disruptive and change the gear at time

[2020-02-26 20:42] Truth- opened #54 "Hunter Feign Death doesn't trigger gear swaps"
When having a trinket swap queued and feigning death the trinket swap doesn't happen.

I've tried this with the Item Rack addon as well and that one works works correctly, while feigned death and and combat drops it will swap the queued gear swap.

[2020-02-27 09:19] RagedUnicorn commented on #54
Hi @Truth-

That sounds strange. I would expect Feign Death to behave not different from leaving combat regularly.

I don't have a hunter to test myself and thus need to ask you a lot of questions.

Are you able to reproduce this consistently and if so could you record a video when this happens? That would help tremendously. Can you also tell what do you mean by the trinket swap doesn't happen? Is

[2020-02-27 09:20] #47 closed

[2020-02-27 11:41] Truth- commented on #54
100% reproducible, i'll look into maybe recording something when i get home after work.

Steps i do to mimic normal combat is the following:
1. Pull mob + send pet to attack
2. Queue item swap (in my case i usually swap trinkets), icon in the top corner appears
3. Put pet on passive (prerequisite to be able to get out of combat while pet is still in combat)
4. Feign Death
5. After ~500ms i leave c

[2020-02-27 22:43] RagedUnicorn commented on #54
Hi @Truth-

Thanks for your detailed description. I think I might have an idea what is causing this.

As far as I know feign death is a channeled spell right? Because I have a functionality built into the addon that is putting the item into the combatQueue either when you are in combat or when the player is currently casting. I did this because I saw this often happen when I was casting my mount a

[2020-02-28 08:18] Truth- commented on #54
Sorry, was too busy to provide you with a video.

It's true that while feigned you have a duration bar on the screen but i'm not sure it's technically a channeled spell. Is there anything i could try ingame to test this? Or maybe get some debug prints, i see a lot of debug prints in your code but how to i retrieve those logs?

[2020-02-28 09:57] RagedUnicorn commented on #54
Not a problem.

Yes it is possible to activate those logs quite easily.

To enable the logs have a look into `code/GM_Environment.lua` and adapt the `LOG_LEVEL` to 4 and change `LOG_EVENT` to true

[code]

Just another question then. Is it possible to change gear completely manually while feign death is running? The core if this functionality is in the function `IsPlayerCasting`

I'm checking for

[2020-02-28 16:52] Truth- commented on #54
Ran the following script while Feign Death, grouped with it's output
[code]
Suggesteda fix with the above pull request

[2020-03-01 18:45] RagedUnicorn commented on #38
Hi @Clausi

Support for the ammoslot was implemented here - https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/00b4ad1f31f9b894b28f7e79b2571637665cd257

This will be included in the next version(v1.3.0)

Cheers,
RagedUnicorn

[2020-03-01 18:45] #38 closed

[2020-03-01 19:03] #54 closed

[2020-03-01 19:05] RagedUnicorn commented on #54
Hi @Truth-

Thanks for the fix. I think that would certainly work. I did however completely rework that function after investigating a bit the new apis that classic offers here.

For the fix see here - https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/1cd97afa7be70342af46ba92c07294f60be9ffc1

If this doesn't fix your issue feel free to reopen the ticket or just quickly confirm if that wo

[2020-03-01 20:03] Truth- commented on #54
I tested your fix and it works as well.

[2020-03-02 12:51] Vequis-uk commented on #39
This addon was exactly what I was looking for, an option to have a "classic/ blizz" style and the ability to space the buttons out would make this addon absolutely perfect!

I was looking for something like ItemRack but in a toolbar format and this works great!

Also if it would be possible to modify how the list presents itself, as it would be nice to have all items on one column.

Really appreci

[2020-03-09 06:36] s1othfu1 commented on #50
+1

[2020-03-10 11:00] padmanek opened #57 "Cooldown timer?"
Is it possible to have a numeric CD instead of the swipe animation? Or even on top of the swipe animation?

[2020-03-11 03:08] Olorun commented on #49
Alright I'll write down a typical caster example for current content.
Let's say I have 2 passive trinkets (trinket A and B) and one active trinket - Mind Quickening Gem (MQG).
Currently equipped are trinket A + MQG.
In fight one I'll use MQG, then as soon as combat is over, Gearmenu will swap out MQG for trinket B.
Then, once MQG has a cooldown of  <=30 seconds, Gearmenu will queue up MQG to be sw

[2020-03-16 02:02] Olorun commented on #57
If you have OmniCC, you will see a numeric CD for everything.

[2020-03-16 02:06] padmanek commented on #57
It will also add another set of numbers on all the actiobars, buffs, debuffs and all the weakauras which already have their own timers. I've tried it and then everything gets "double" timers. It's not a solution.

[2020-03-16 04:49] Olorun commented on #57
(you can disable all of those and let OmniCC handle it) Yeah I guess you're right

[2020-03-16 17:34] RagedUnicorn commented on #57
Hi @padmanek

Initially I developed the whole handling of the timer by myself but I later decided to rely on what is already there by the blizzard interface. It should also work with addons that modify actionbuttons. By default however its just using this swipe animation.

Regards,
RagedUnicorn

[2020-03-18 16:47] phendrome commented on #50
Digging the 1.3 update. Thanks for that @RagedUnicorn. What's the plan going further? Having Masque support or a more Blizz-like skin would be awesome. If you need any help let me know.

[2020-03-19 01:12] zellfy opened #58 "A problem from hunters."
Thank you for your amazing work.
I'm a hunter, I found gearmenu can't change the trinket after I cast Feign Death and get out of battle immediately. But when I get up it works at once. Actually if I change it with click the item in my bag when I am casting Feign Death, the trinket can be changed.
So is there something can optimalize？

[2020-03-26 16:50] brett1337 opened #59 "UI crash"
Many people I know are getting full UI crashes in Arathi Basin, where the UI completely disappears. We have ruled out the usual suspects addons and it appears to be directly related to Gear Menu. It is seemingly random when it occurs but it is always Arathi Basin.

[2020-03-28 16:59] Hhomle opened #60 "Not seeing certain trinkets on the popup-list"
Title says it all; specifically i cannot see net-o-matic or mortar trinkets in the pop-up menu on the bar. Rest of the trinkets work just fine, and I am able to manually equip both trinkets and use then normally with hotkeys. Anyone else had any issues like this?

Awesome addon other than that btw!

[2020-03-28 17:15] RagedUnicorn commented on #60
See https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/37

[2020-03-28 17:15] #60 closed

[2020-03-28 17:17] RagedUnicorn commented on #59
Hi @brett1337

Definitely need to give me more information about this issue for me to work on that.

I play Arathi Basin myself and never saw an issue like. Was there a lua error? Does a simple reload of the ui fix the issue? Is it happen often or in a specific case? Where you able to reproduce this with all other addons disabled and only GearMenu active?

Regards,
RagedUnicorn

[2020-03-28 17:18] RagedUnicorn commented on #58
Hi @zellfy

Can you tell me if you this is the same issue as https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/54? And are you ussing the newest version of GearMenu?

Regards,
Michael

[2020-03-28 18:11] Hhomle commented on #60
ah of course, awesome thank you!

[2020-03-28 23:14] keugnu commented on #35
@RagedUnicorn does this also apply to wands? I have to use a normal action bar to switch wands in combat right now. I wish I could just use grrm.

[2020-03-29 00:49] brett1337 commented on #59
There is no lua error. a reload of the ui does fix it for a couple BGs. it happens itermitently after a certain amount of pvping like 2 BGs worth. I ahve not tried reproducing this with all other addons disabled. It probably is a weird addon interaction and that makes it really hard to figure out. This was more of a desperate attempt to see if you could repro the bug. Thanks for responding.

[2020-03-31 15:49] bbarker commented on #5
If it isn't possible to trigger a macro from an addon, is it possible to trigger the GearMenu combat queue (at least for weapons/OH) by using a macro?

[2020-04-10 03:21] HolteUnderscore opened #61 "Suggestion - Unequipping Items"
Is it possible to add an "empty slot" to the popup "menu" for each slot which would put the item in your bags please?

[2020-04-10 12:33] HiImRob commented on #59
I am also experiencing  the same phenomenon. Let me try to explain as much as possible while I am not able to deterministically reproduce this issue.

I make excessive use of your addon by letting it auto-swap multiple items back and forth with individual timers after usage. After one or two hours of playing this issue happens. It is connected to the switch of items after I leave combat.

As @bret

[2020-04-10 14:10] KevinTyrrell opened #62 "Quickchange feature may need a rework."
I kept wondering why during raids, my trinket Diamond Flask would be swapped slots with the slot it was in previously. Diamond Flask was the only trinket I had in my Quickchange settings. I had Diamond Flask --> Blackhand's Breadth after a duration of 60, which worked well.

However in many cases, I would have Diamond Flask in one trinket slot and Blackhand's Breadth in the other slot. GearMenu af

[2020-04-13 17:13] heyiamsven opened #63 "[Suggestion] Show GearMenu on Mouseover"
Hello,

first of all I love Gearmenu, but I have a very minimalistic UI and I want to show Gearmenu only when I hover over GearMenu's Bar with my mouse. Is this possible to receive this feature?

Thankyou in advance!

[2020-04-15 01:59] zellfy commented on #58
OK，I have tried the newest version and the problem was all done. Thank you for your work.

[2020-04-17 03:54] rparliment opened #64 "Show more than 20 items in GearBar"
I carry more then 20 different trinkets around when doing PvP, when highlighting the trinket slots in the GearBar it will only show 20 of the trinkets, is there a way to have this number expanded to adjust for the number of available trinkets to equip? I have 23 trinkets currently and have my eyes set on 4 more for the current phase.

Also would be nice to have the ability to left or right click a

[2020-04-17 12:16] ollema commented on #50
+1

[2020-04-17 12:32] ollema commented on #18
@RagedUnicorn it's better to bump this old issue instead of creating a new one right?

I really enjoy this addon - however there is some features missing from TrinketMenu that's preventing me to switch completely to this addon.

Mainly, the ability to always show items in the changeMenu and for the changeMenu to grow vertically (these two goes hand in hand).

Here is an example of my setup with Tr

[2020-04-20 22:29] #58 closed

[2020-04-22 07:54] MMoisa opened #65 "Weapons don't get swapped while in combat"
According to the readme weapons should be swapable during combat but that is not the case.

[2020-04-22 07:56] #65 closed

[2020-05-11 17:44] Jinnai opened #66 "Quickchange Cloak"
Cloak is missing in the Quickchange menu

[2020-06-10 09:14] rparliment opened #68 "Macro Bridge does not work with all item slots"
I am getting lua errors attempting to run this macro

`#showtooltip Goblin Rocket Boots
/run GM_AddToCombatQueue(7189,8)`

I cannot seem to get the macros to work for anything other then trinkets.

[2020-06-27 03:11] watsyourname opened #69 "Weapon shoule be change immediately when battle"

[2020-07-22 11:40] RagedUnicorn commented on #69
Sadly this is not possible with what blizzard currently allows.

https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/5

[2020-07-22 11:40] #69 closed

[2020-07-22 11:40] RagedUnicorn commented on #65
Sadly not possible see - https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/5

[2020-07-23 12:26] #66 closed

[2020-07-23 12:28] RagedUnicorn commented on #66
Hi @Jinnai

Thanks for the hint this was indeed a bug on how I determined whether a certain slots was already in the dropdownmenu or not. I used the the texture id of said slot. I found out however that some of the slots have the same textureId and thus would not show up in the menu. I use a separate unique id know and this fixes that issue.

Cheers,
RagedUnicorn

[2020-07-23 13:54] RagedUnicorn commented on #64
Hi @rparliment

I increased the amount of trinkets to 40. I also had a look at implementing "combined equipping". I did implement a form of it. Not sure though if it is exactly what you had in mind. I tinkered with two possible scenarios on how to implement this.

Scenario 1:
In a way assigning one of the trinketslots to left and the other to right. Meaning if I click left on an item it would land

[2020-07-23 13:54] #64 closed

[2020-07-23 13:57] RagedUnicorn commented on #63
Hi @heyiamsven

Sadly not really in a viable way. The thing is that all those slots are secure action buttons in blizzards ui interface. Secure in this case means it is restricted what one can do with them especially during combat. It is not possible to move, hide or show such buttons during combat. This would make the feature pointless in my opinion because once combat starts you would not be abl

[2020-07-23 13:57] #63 closed

[2020-07-23 13:58] #57 closed

[2020-07-23 14:04] RagedUnicorn commented on #68
Hi @rparliment

Couldn't try this with the goblin rocket boots but did so with the gnomish ones and this worked for me.

[code]

Not sure if you're macro is actually on one line or if this is just a formatting issue here in the ticket?

Cheers,
RagedUnicorn

[2020-07-23 14:04] #68 closed

[2020-07-23 19:05] httpNick opened #70 "swapping to same items different enchants"
Hello,

I have been using GearMenu for months now and one thing that has bugged me has been not being able to choose between items I have in my inventory that are the same item, but with different enchants. The Addon will show the correct count of items, but will only let me swap to the one it chooses. For instance: If I have 4 pairs of Goblin Rocket Boots, but only one has minor speed enchant the

[2020-07-24 00:46] Xiverz opened #71 "Move and Dock Items/Trinket menus"
Hi man, I've been using this addon for a while now. I have preferred it over others because of its extra features like queuing swaps and activation on keypress down.

However, I really wish specifically that the trinket menu could be permanently left open on the screen and moved/resized to a better position, it would help a lot in pvp situations where you have to constantly switch your trinkets up

[2020-08-02 09:09] Olorun commented on #64
Scenario 1 is how it's implemented in ItemRack and TrinketMenu, so I would suggest following that implementation too.

[2020-08-27 10:34] RagedUnicorn commented on #61
Hi @HolteUnderscore

This feature was implemented with v1.4.0. Make sure to check in the general options to enable it and let me know what you think about it.

Reference:
https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/c576ece68522a9f990e8c0fe38902e013e564e85
https://github.com/RagedUnicorn/wow-classic-gearmenu/commit/588d962ef747349de689d22fa346a34123194715

Cheers,
RagedUnicorn

[2020-08-27 10:34] #61 closed

[2020-08-27 10:38] RagedUnicorn commented on #71
Hi @Xiverz

Certainly something that could be implemented. I saw other addons that do this. I think if I would implement this it would be a "separate menu" that can be dragged somewhere on the screen and would just show all trinkets that the user has in his bags.

I think I would need to define something like - left click equips trinket into slot x and right click equips trinket into slot y.

What

[2020-08-27 10:46] RagedUnicorn commented on #62
Hi @KevinTyrrell

I fully understand what you mean. I had a look into this while I was initially developing the feature but decided on purpose not to implement such priority system. I'm fully aware that quickchange is not perfect but I intended for it to be as easy as possible in most situations. Which also helps me avoid bugs.

Based on that I will certainly keep this suggestion in the back of my

[2020-08-27 10:54] RagedUnicorn commented on #70
Hi @httpNick

It is kind of a limitation of the blizzard API because I'm working with the id of the item. This will result in your 4 items showing up. I will check if this can be improved.

Cheers,
RagedUnicorn

[2020-08-27 11:44] KevinTyrrell commented on #62
@RagedUnicorn Understandable. Thank you for the candid response.

However I actually think there's a bug/oversight here that we can correct with minimal effort that will **greatly** improve this feature. Simply add the following condition:

*Do not perform the quickchange operation if both items are currently equipped.*

This will stop trinkets from 'trading places' and going on a 30 second cooldo

[2020-08-27 16:16] Xiverz commented on #71
@RagedUnicorn

Yes that's perfect, it's exactly what I mean!

Just like the old addon TrinketMenu which has been abandoned, but with extra features and without the bugs :D

[2020-09-15 04:46] bonermobile opened #73 "Alternate combined equipping behavior"
First of all, great addon, much better than TrinketMenu or ItemRack when it comes to swapping individual items. Looks nicer too.

Secondly, I'd like to request an option for an absolute style of combined equipping. One where left click always selects the top or first slot of a pair and right click always selects the bottom or second slot, regardless of which slot was initially moused over. Basical

[2020-09-27 03:27] ConnorJBeck opened #74 "Druid Idols in inventory do not show up as swappable in gear menu"
I've added one of my gearmenu slots as type "Ranged", and it shows my currently equipped idol. However, hovering over it, it doesn't show any of the idols in my inventory. I can't find a better slot name than Ranged (though as a druid the slot is referred to as "Relic"). I cannot confirm whether this behaviour is also occurring for shaman or paladin relics.

[2020-10-01 17:19] #74 closed

[2020-10-01 17:21] RagedUnicorn commented on #74
Hi @ConnorJBeck,

Thanks for bringing this up. This was indeed a bug. GearMenu did not support relics at all. I do not have a character with a relic myself. So I'm unable to test it myself but it is such an easy fix that I just included it and it will be in the next release.

Once the release is out (1-2 days) please let me know if it works for you.

Cheers,
RagedUnicorn

[2020-10-01 17:23] ConnorJBeck commented on #74
Thanks! I'll keep an eye out and let you know if it's fixed.

On Thu, Oct 1, 2020, 13:21 Raged Unicorn <notifications@github.com> wrote:

[2020-10-01 17:31] RagedUnicorn commented on #73
Hi @bonermobile

I'm a bit unsure what really is the best way of implementing combined equipping. Some people seem to support your view others want a different implementation. It is not even that big of an effort to change it but I want to avoid changing this all the time.

Maybe we can get some people in here describing exactly what they expect in the form of:

If I left-click on the upper slot I

[2020-10-02 12:19] padkipz opened #75 "Allow posY to be less than 0"
Really love the addon, finding it far superior to ItemRack/TrinketMenu, the only thing I'd love to be able to do is align it to the bottom of my screen.

If you take a look at the attached screenshots, I have dragged the frame as far down as it will go, but I believe the frame dragging border is stopping it from being dragged lower. I've tried setting ["posY"] = -10+ but this doesn't seem to have

[2020-10-03 10:55] #75 closed

[2020-10-03 10:56] RagedUnicorn commented on #75
Hi @padkipz

I see your issue and fixed it. I will include it in the next release which I'm about to release.

Cheers,
RagedUnicorn

[2020-10-03 11:08] RagedUnicorn commented on #74
@ConnorJBeck Just a ping v1.5.0 is out

[2020-10-03 13:39] ConnorJBeck commented on #74
Just checked and it works like a charm. Thanks!

On Sat, Oct 3, 2020, 07:08 Raged Unicorn <notifications@github.com> wrote:

[2020-12-09 23:35] alexriedl commented on #49
This functionality is also useful for hunters. At this point many hunters cycle through many trinkets in a single boss fight. Now in Naxx fights tend to be a bit longer, allowing the use of the same on-use trinket multiple times. equiping a trinket when there is 30 seconds left on the cooldown allows the player to use the item immediately when its ready

If you wait to queue the item until the coo

[2020-12-09 23:40] alexriedl commented on #39
As a hunter I switch trinkets a lot during boss fights. Different boss fights require a different set of trinkets to be used, based on fight length, creature type (Undead/Beast/Humanoid), ect.

Having different sets control different queues would be extremely useful and align with the goal of the addon AFAICT

[2021-01-02 00:38] JulianNorton opened #76 "Unable to set keybind to 'F11' or 'F12' - moves menu instead"
![image](https://user-images.githubusercontent.com/2412992/103448535-dc398900-4c68-11eb-928a-826a4d9ccf92.png)

When I press F11 of F12 it moves the menu around instead of clicking my trinkets.

[2021-01-02 00:39] JulianNorton commented on #76
Solution was to set slot 2 and 3 as the F11 and F12

[2021-01-02 00:39] #76 closed

[2021-01-04 16:53] sandervspl opened #77 "Gnomish Battle Chicken is not displayed when hovering over trinket slot"
See title. All my trinkets show, except for the Gnomish Battle Chicken.

[2021-04-12 11:52] padkipz opened #78 "TBC update"
Are there any plans for a TBC update? Appreciate we're still in early stages of beta, but current error is:

Thanks for all your work on this during classic!

[2021-04-12 13:22] RagedUnicorn commented on #78
Hi @padkipz

You're welcome. I didn't play much classic lately but will definitely be back with TBC and thus I can say that yes GearMenu will support TBC (I want it myself :)).

Sadly I don't have access to the beta myself but the issue above I already saw and should be an easy fix. Overall I don't expect a lot of work for it to work on tbc. I might start working on the update in a couple days. If

[2021-04-12 13:45] padkipz commented on #78
Thanks for the quick response!

I have access to the beta myself and am more than willing to help out if I can.

[2021-04-14 22:35] ap0yuv commented on #78
seems to be super easy.

changed files:

GM_GearBar.lua

[code]

GM_UiHelper.lua

` 97:      local highlightFrame = CreateFrame("FRAME", nil, slot, "BackdropTemplateMixin" and "BackdropTemplate")`

GM_ChangeMenu.lua

` 51:     changeMenuFrame = CreateFrame("Frame", RGGM_CONSTANTS.ELEMENT_GEAR_BAR_CHANGE_FRAME, gearBarFrame, "BackdropTemplateMixin" and "BackdropTemplate")`
`102:      local changeSl

[2021-04-25 11:15] Redtuzk commented on #49
Any update on this?

[2021-05-15 12:18] RagedUnicorn commented on #78
Hi guys,

Sorry about the silence worked a lot on the 2.0.0 release for gearmenu.

I also put some thought in how I want to continue development for gearmenu with burning crusade classic coming out. I decided to have this in a separate repository because I think the addon will diverge more and more from the classic version with time passing and I don't want to have `if classic else` blocks all ove

[2021-05-15 13:34] padkipz opened #80 "Changeslot size is slightly bigger than Gearslot size when set to the same size"
With the latest update, my changeslot size is a tad bigger than the gearslot size when they're set to the same size.

See attached for an example - I have both set to 26, but the changeslotsize is more like 30/31.
![image](https://user-images.githubusercontent.com/3637452/118363112-b6af7b00-b58a-11eb-8131-15183fbb8474.png)

[2021-05-16 10:11] OleBueker commented on #49
Would be a really nice feature indeed :)

[2021-05-16 11:16] rgalan89 opened #81 "Unable to bind mouse buttons to slots after the 2.0 update"
Hello

After the 2.0 update im unable to bind the mouse4 or mouse5 buttons to any slot, even i tried to delete and create a new GearBar configuration but still doesnt recognize the bind.

[2021-05-16 14:19] RagedUnicorn commented on #80
Hi Thanks for your report

Looks like you are right about that I can see the issue myself.

Especially with the biggest size it can be seen
![frames](https://user-images.githubusercontent.com/26184132/118400534-5db31600-b662-11eb-959e-c3ef8f67df79.png)

Fixed look
![fixed](https://user-images.githubusercontent.com/26184132/118400563-702d4f80-b662-11eb-9823-2a1b51e512ac.png)

Cheers,
RagedUnicorn

[2021-05-16 14:34] #80 closed

[2021-05-16 14:35] RagedUnicorn commented on #80
Fixed and will be included in the next release

Notes to myself:
* Always SetPoint when creating a frame initially
* This fix needs to be applied to the bcc version

Again thanks for your report 👍

[2021-05-16 15:17] RagedUnicorn commented on #81
Hi @rgalan89

Thanks for your report I can confirm that I can reproduce this. Looks like binding mouse buttons works a bit different from other buttons and I need to implement this additional behavior.

Cheers,
RagedUnicorn

[2021-05-16 18:54] #81 closed

[2021-05-16 19:00] RagedUnicorn commented on #81
Fixed and will be included in the next release. Had to change quite a bit to support mousebuttons but the following should now work

`BUTTON3, BUTTON4, BUTTON5, MOUSEWHEELUP, MOUSEWHEELDOWN`

Note for myself:
* This change needs to be applied to the bcc version

[2021-05-16 19:02] RagedUnicorn commented on #77
See #37

[2021-05-16 19:02] #77 closed

[2021-05-16 19:04] RagedUnicorn commented on #59
Closing this because I was never able to reproduce it. However there where a lot of changes in the new version 2.0. I fixed a lot of bad behavior regarding cooldowns and I could image that something like that could happen with extensive use.

Please let me know if this can be reproduced with the newest version.

Cheers
RagedUnicorn

[2021-05-16 19:04] #59 closed

[2021-05-18 09:12] padkipz opened #82 "Border size (unsure if issue, or feature request)"
In previous versions of GMM, the border size around the Gearslot and Changeslot was bigger/bolder, see image:
![image](https://user-images.githubusercontent.com/3637452/118624766-57877b80-b7c1-11eb-99f4-75a0c46e431b.png)

Now, the border size is a lot smaller - I'm pretty sure the border itself it still there, just doesn't mimic what I had previously. I honstly can't remember if this was a setting

[2021-05-23 10:27] RagedUnicorn commented on #82
Hi @padkipz

I think it is an issue. I changed this by accident with the last bugfix. I will fix this with the next release but I think having a setting to change that border is a bit over the top. I want to keep the configuration simple whenever possible.

Cheers,
RagedUnicorn

[2021-05-23 10:28] RagedUnicorn commented on #78
Closing this. The version is available and seems to be working.

Cheers,
RagedUnicorn

[2021-05-23 10:28] #78 closed

[2021-05-23 19:10] #82 closed

[2021-06-05 19:38] ilesikar commented on #49
Please add this! When trinkets are swapped they're put on a 30-second cooldown anyway, so swapping them when at 30 or fewer seconds would be awesome.

[2021-08-12 19:00] yuchenc1 opened #83 "Unable to open GearMenu"
I have installed GearMenu and it works pretty well in my WoW account. However, in my Druid role, I cannot open GearMenu. Even if I disable all my other addons and only enable GearMenu. I cannot find GearMenu in my Addon list in Interface Options. But I am sure it is enabled in the Addons Options. When I type `/gearmenu`, I can see its help information of reload and opt. But when I type `/gearmenu

[2021-08-13 17:26] RagedUnicorn commented on #83
Hi @yuchenc1

Not sure what is causing this but I'm guessing it is an issue with the configuration itself for your character and not related to the class itself. At least I'm not aware of anything specific in gearmenu related to the druid class.

Two things I would recommend:

Enable lua errors
[code]
Then try again an see if any errors show up. If so please post them here.

Other than that it mig

[2021-08-13 18:06] yuchenc1 commented on #83
`Message: Interface\AddOns\GearMenu\code/GM_Configuration.lua:297: attempt to index field 'GM_GearBar' (a nil value)
Time: Fri Aug 13 11:04:41 2021
Count: 1
Stack: Interface\AddOns\GearMenu\code/GM_Configuration.lua:297: attempt to index field 'GM_GearBar' (a nil value)

Locals: `
Here is the lua error, thanks for your investigation

[2021-08-13 18:10] yuchenc1 commented on #83
Also maybe related, when I type `/gearmenu opt` I have this error showing
[code]

[2021-08-13 18:17] yuchenc1 commented on #83
[code]

[2021-08-13 19:42] RagedUnicorn commented on #83
Hi @yuchenc1

Thanks for providing the info. It looks like you're stuck in the migration process to version 2.0. For some reason there is no old GM_GearBar and thus the migration fails. I think it really is the easiest if you delete the mentioned file starting with a clean plate.

Cheers
RagedUnicorn

[2021-08-13 21:02] yuchenc1 commented on #83
thanks for your help. it solved my case.

[2021-08-13 21:02] #83 closed, assigned to nobody

[2021-09-11 01:15] trying-to-function commented on #70
I came to put this same issue in.

I think you should be able to do this as long as each item has different enchants. See below:

From Silent Shadows discord:

@RagedUnicorn does that help move this issue forward?

Thanks for all of your work!

[2021-09-11 01:25] trying-to-function opened #84 "Equip previous item"
Would be great if you could set an item (for example [Rocket Boots Xtreme](https://tbc.wowhead.com/item=23824/rocket-boots-xtreme)) to equip the item that was equipped prior to the rocket boots. Hopefully #70 in mind as well.

[2021-09-11 01:38] trying-to-function opened #85 "Equip same item after X time"
Would like to be able to set the following:

Set [Nigh Invulnerability Belt](https://tbc.wowhead.com/spell=30570/nigh-invulnerability-belt) to swap to an item without an on-use such as [General's Leather Belt](https://tbc.wowhead.com/item=28423/generals-leather-belt) then after 5 minutes swap back to [Nigh Invulnerability Belt](https://tbc.wowhead.com/spell=30570/nigh-invulnerability-belt).

[2021-09-11 01:57] trying-to-function opened #86 "Cancel item swaps if manually changed"
I use [Bloodlust Brooch](https://tbc.wowhead.com/item=29383/bloodlust-brooch) with a 20 second timer to swap into [Slayer's Crest](https://tbc.wowhead.com/item=23041/slayers-crest) during trash. But sometimes I need to manually swap to [Mark of the Champion](https://tbc.wowhead.com/item=23207/mark-of-the-champion). Currently I have to wait the 20 seconds before swapping trinkets otherwise Slayers

[2021-10-14 23:32] kevsboomba opened #87 "Bag slots are all greyed out except for weapons"
Just noticed this. When i change to my fishing pole from my equipped mace and shield, all items in my bags are greyed out except for my other two handed weapon and my other shield. I can use the slots but they are all greyed out and I have to reload.

[2021-10-18 17:02] #87 closed

[2021-11-24 20:15] NordikaMan opened #88 "Cannot choose 1h weapon in offhand when dual wield spec"

[2021-11-24 20:15] NordikaMan commented on #88
![image](https://user-images.githubusercontent.com/9384449/143307440-820ac5e8-ef49-40a5-aa6f-44bf4ad5d3d9.png)
![image](https://user-images.githubusercontent.com/9384449/143307456-df26e1c0-d63b-4b41-87b6-d5f1e58ea3f9.png)

[2021-11-24 20:16] NordikaMan commented on #88
![image](https://user-images.githubusercontent.com/9384449/143307499-c2d1c7f0-cc3f-4d21-951d-3f465a069a05.png)

[2021-12-14 12:39] ensidios opened #89 "Gearmenu behind player frame"
![image](https://user-images.githubusercontent.com/62329082/145999236-38056653-bb5d-4d73-a516-dc818d414948.png)

slot-generated menu is behind player frame (LunaUnitFrames). All items behind this frame can't be selected. I didn't find any configuration for that issue. Is it possible to raise the level of Gearmenu?

Thank you very much!

[2021-12-19 05:14] phendrome commented on #39
Recently got back to SoM and... love this addon... b-b-but. I do miss one thing when it comes to this addon.

... the visual changes? More specifically a default Blizzard art option? When?! <3

[2021-12-20 16:40] RagedUnicorn commented on #39
Hi @phendrome

Started working on this yesterday. Was way more work than I anticipated it to be.

Here is an example how it currently looks. I'm not really an expert at WoW UIs and it is definitely not a perfect match to the default Blizzard option but I think this is as good as it gets currently. I mostly dealt with the issue that icons already have a border(sometimes) and other have ugly(gressil

[2021-12-20 16:41] RagedUnicorn commented on #35
Cleanup - Closing this

[2021-12-20 16:41] #35 closed

[2021-12-20 16:42] RagedUnicorn commented on #50
Cleanup - Closing this

See https://github.com/RagedUnicorn/wow-classic-gearmenu/issues/39#issuecomment-998092148 for an update regarding skins/theme

[2021-12-20 16:42] #50 closed

[2021-12-20 16:43] RagedUnicorn commented on #19
Cleanup - Closing this (was implemented in v2.1.1)

[2021-12-20 16:43] #19 closed

[2021-12-20 16:44] RagedUnicorn commented on #18
Cleanup - Closing this

[2021-12-20 16:44] #18 closed

[2021-12-20 16:44] RagedUnicorn commented on #41
Cleanup - Closing this

[2021-12-20 16:44] #41 closed

[2021-12-20 16:45] RagedUnicorn commented on #45
Cleanup - Closing this

[2021-12-20 16:45] #45 closed

[2021-12-20 16:46] RagedUnicorn commented on #53
Cleanup - Closing this (partially implemented with multiple gearBars)

[2021-12-20 16:46] #53 closed

[2021-12-20 16:47] RagedUnicorn commented on #71
Implemented with v2.1.2

[2021-12-20 16:47] #71 closed

[2021-12-20 16:50] RagedUnicorn commented on #85
Not a bad idea for sure but I need to disappoint. I won't be able to invest to much time into addon development and I think the feature would require a lot of ui work. I think this would be much easier with a macro.

[2021-12-20 16:50] #85 closed

[2021-12-20 16:52] RagedUnicorn commented on #62
Cleanup - closing this

[2021-12-20 16:52] #62 closed

[2021-12-20 17:04] RagedUnicorn commented on #89
Hi @ensidios

It is certainly possible to change the level of those elements. So far I just assumed people would pick a place where there is enough space for the menu to appear.

The problem I see with this is that I don't really know what level to put gearmenu on. When I developed the addon I tested mostly with the default ui and choose something that I deemed appropriate. In that case gearmenu i

[2021-12-20 17:08] RagedUnicorn commented on #88
Hi @NordikaMan

I wasn't able to reproduce this. I had other people mentioning a similar behavior but all of them turned out to be an issue with the item filtering. It would help to have a full screenshot so I can see what item seems to be the problem.

Also please make sure that the item is not filtered by the itemQuality filter.

Cheers,
RagedUnicorn

[2021-12-20 17:10] RagedUnicorn commented on #86
Hi @trying-to-function

I can see how this can be an issue but this was an intentional design choice with QuickChange. The item is only placed into the combatQueue when it is actually time to switch. This of course doesn't give you the option to cancel it then.

Cheers,
RagedUnicorn

[2021-12-20 17:10] #86 closed

[2021-12-20 17:15] RagedUnicorn commented on #84
Hi @trying-to-function

I think this would complicate the quickChange process a lot. I understand that it might be a bit tedious to have quite a lot of quickChange rules but my experience so far showed me that people usually have an engineering item that they want to switch back to their "main" item after using the engineering one.

Based on that I don't plan to implement this. Thanks for the sugg

[2021-12-20 17:15] #84 closed

[2022-01-02 21:15] phendrome commented on #39
That is awesome @RagedUnicorn -- thank you a lot for this!

Overall I think it's good. Perhaps not pixel perfect like you've mentioned and the fact that they're slightly zoomed in right.

Perhaps you've not had this thought yet, but potentially being able to introduce button spacing as well between the icons -- if you want to follow the more Blizzard style type of theming.

[2022-01-26 02:30] kaminador opened #90 "Vertical Orientation"
Hi, I love Gearmenu and have been using it for years. I am currently reworking my UI and am wondering if it is possible to put Gearmenu in a vertical orientation aka 1 column instead of 1 row. Hopefully I'm not overlooking something simple in the options ><. Thanks in advance!

[2022-04-24 10:28] padkipz opened #91 "Profiles/single config (request)"
Still loving the addon, but have a request if possible.

I currently run 3 of the same chars for splits, and use basically the same config on each of my other chars, but one thing that is pretty annoying, especially with PTR, is that to get the config the same on a new char I have to go and copy the lua file from my main char to my alts. Would it be possible to add in a profile feature, or make it

[2022-05-17 08:11] ap0yuv opened #92 "Host Upon alternative Providers like WoWUpHub"
Due CurseForge/Overwolf shutting down the API for alternative Addonmangers , GearMenu cannot bei updated anymore with the WoWUp-Client.

Could a alternative Package/Release be supllied so WoWUp can pull from GitHub ?

[2022-05-17 21:10] RagedUnicorn commented on #92
Hi @ap0yuv

I will look into it. According to WoWUp I already do what they suggest but not sure if it actually works.

`Politely lobby the author of your missing addons to host them somewhere else, such as Wago or GitHub.`

All releases are currently placed into GitHub releases additionally to the curseforge upload.

https://github.com/RagedUnicorn/wow-classic-gearmenu/releases

[2022-05-18 14:25] ap0yuv commented on #92
from what i got so far is they want you to add another file `release.json` which they need to make it work.

Read about it **[here](https://github.com/WowUp/WowUp/issues/1245#issuecomment-1128360257)**

[2022-05-18 14:27] ap0yuv commented on #92
Format seems to be something like this:

[code]

[2022-05-28 12:31] RagedUnicorn commented on #92
Hi @ap0yuv

I made all my addons available on Wago.io (e.g. https://addons.wago.io/addons/gearmenu). This enables them to work again with the WoWUp client.

Cheers,
Ragedunicorn

[2022-05-28 12:31] #92 closed